body {
	background-color: #336600;
	text-align: center;
	margin:0;
	padding:0;
}

fieldset , legend{
	background-color: #fff;
	border: 1px solid black;
}

textarea, input {
	position: relative;
	font-size: 12px;
}

a {
	color: green;
	text-decoration: none;
}

#links {
	position: absolute;
	right: 10px;
	text-align: right;
}

.warn {
	display: block;
	border: black 1px solid;
	background-color: red;
	color: yellow;
	margin-bottom: 10px;
	/*opacity:.50;*/
}

.warn p {
	font-weight: bold;
	margin: 1px;
}

.warn p  a{
	color: white;
}

#msg {
	position: relative;
	width: 100%;
	border:1px solid black;
}

#scriptName {
	width:330px;
}


#container {
	position: relative;
	width: 900px;
	height: 640px;
	margin: 10px auto 0 auto;
	background-color: white;
	padding: 10px;
	border: black 1px solid;
}

#prevText {
	position: relative;
	width: 240px;
	height: 160px;
	background: Black url("../imgs/bg_common.png");
}

#preview {
	position: relative;
	background-color: #eeeeee;
	border: 1px solid black;
}

#textData {
	width: 90%;
}

#heroName {
	background-color: yellow;
	border: solid black 1px;
	font-weight: bold;
}

#scriptView {
	width: 450px;
	float: left;
}

.scriptPreview {
	position: relative;
	width: 400px;
	text-align:left;
}